@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --red: #EA4335;
  --dark-grey: #424a4c;
  --dark-blue: #0070ba;
  --orange: #f1a300;
  --silver-grey: #888f95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ap-banner {
  padding: 3% 5%;
}

.ap-flex {
  display: flex;
}

.ap-flex-col {
  display: flex;
  flex-direction: column;
}

.ap-block {
  display: block;
}

.ap-inline-block {
  display: inline-block;
}

.ap-w-full {
  width: 100%;
}

.ap-mb-5 {
  margin-bottom: 5px;
}

.ap-mb-10 {
  margin-bottom: 10px;
}

.ap-mb-16 {
  margin-bottom: 16px;
}

.ap-mb-20 {
  margin-bottom: 20px;
}

.ap-mb-40 {
  margin-bottom: 40px;
}

.ap-mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.ap-mx-12 {
  margin-right: 20px;
  margin-left: 20px;
}

.ap-mr-10 {
  margin-right: 10px;
}

.ap-mr-40 {
  margin-right: 40px;
}

.ap-pr-10 {
  padding-right: 10px;
}

.ap-py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ap-z-1000 {
  z-index: 1000 !important;
}

.ap-align-center {
  align-items: center;
}

.ap-justify-center {
  justify-content: center;
}

.ap-font-12 {
  font-size: 12px;
}

.ap-font-14 {
  font-size: 14px;
}

.ap-font-16 {
  font-size: 16px;
}

.ap-font-18 {
  font-size: 18px;
}

.ap-font-20 {
  font-size: 20px;
}

.ap-font-25 {
  font-size: 25px;
}

.ap-letter-43 {
  letter-spacing: 0.43px;
}

.ap-content-300 {
  font-family: Poppins;
  font-weight: 300;
}

.ap-content-400 {
  font-family: Poppins;
  font-weight: 400;
}

.ap-content-500 {
  font-family: Poppins;
  font-weight: 500;
}

.ap-content-500-v2 {
  font-family: Roboto;
  font-weight: 500;
}

.ap-content-600 {
  font-family: Poppins;
  font-weight: 600;
}

.ap-content-700 {
  font-family: Poppins;
  font-weight: 700;
}

.ap-content-700-v2 {
  font-family: Roboto;
  font-weight: 700;
}

.ap-text-darkgrey {
  color: var(--dark-grey);
}

.ap-text-darkblue {
  color: var(--dark-blue);
}

.ap-text-orange {
  color: var(--orange);
}

.ap-text-white {
  color: white;
}

.ap-text-silvergrey {
  color: var(--silver-grey);
}

.ap-icon {
  height: 20px;
}

.ap-icon-v2 {
  height: 40px;
}

.ap-icon-v3 {
  width: 25px;
}

.ap-icon-v4 {
  width: 80px;  
}

.ap-underline {
  text-decoration: underline;
}

.ap-pointer {
  cursor: pointer;
}

.ap-justify {
  text-align: justify;
}

.ap-center {
  text-align: center;
}